<!--<p>Hello</p>-->
<!--<dir style="text-align:center">-->

<!--    <input [(ngModel)]="input.username" placeholder="Username">-->
<!--    <br>-->
<!--    <input [(ngModel)]="input.password" type="password" placeholder="Password">-->
<!--    <br>-->
<!--    <button (click)="onLogin()">Login User</button>-->
<!--</dir>-->



<div class="loginbox">
    <img src="assets/1.png" class="avatar">
        <h1>Login Here</h1>

            <p>Username</p>
            <input type="text" [(ngModel)]="input.username" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" [(ngModel)]="input.password" name="" placeholder="Enter Password">
            <input type="submit" (click)="onLogin()" name="" value="Login">

    </div>



