<p>register account!</p>
<dir class="loginbox" >
 
<table >
  <tr><td colspan="2"> <p>REGISTER ACCOUNT</p></td></tr>
 <tr><td>username</td><td><input [(ngModel)]="register.username"><br></td></tr>
  <tr><td>password</td><td><input [(ngModel)]="register.password" type="password"><br></td></tr>
  <tr><td>email</td><td><input [(ngModel)]="register.email"><br></td></tr>
  <tr><td>first_name</td><td><input [(ngModel)]="register.first_name"><br></td></tr>
  <tr><td>last_name</td><td><input [(ngModel)]="register.last_name"><br></td></tr>
  <tr><td>address</td><td><input [(ngModel)]="register.address"><br></td></tr>
  <tr><td>phone</td><td><input [(ngModel)]="register.phone"><br></td></tr>
  <tr><td colspan="2"><button (click)="registerUser()">Rigister Account</button></td></tr>
</table>

</dir>
